@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  place-items: center;
  background-color: #2196f3;
  height: 100vh;
}
.parent {
  background: white;
  height: 350px;
  width: 500px;
  box-shadow: 0px 0px 12px grey;
  border-radius: 12px;
  padding: 30px 20px 10px;
}
.parent .text {
  height: 270px;
  border-bottom: 1px solid #e0e0e0;
}
.parent .glople {
  display: flex;
  height: 60px;
  align-items: center;
  gap: 10px;
  color: #2196f3;
}
.parent .text input {
  outline: none;
  border: none;
  width: 100%;
  height: 210px;
  font-size: 17px;
}
.parent .footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
.parent .footer .click {
  display: flex;
  align-items: center;
}
.parent .footer .click button {
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: #2196f39c;
  color: white;
  transition: 0.3s all ease-out;
  pointer-events: none;
}
.parent .footer .click button.abled {
  background: #0082e8;
  pointer-events: auto;
}
.parent .footer .click .left {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  border-right: 2px solid gray;
  margin-right: 10px;
  opacity: 0;
  transition: 0.3s all ease-out;
}
.parent .footer .click .left.abled {
  opacity: 1;
}
.parent .footer .social {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}
.parent .footer .social i {
  color: #2196f3;
}
